@keyframes scaleTopBottom {
    0% {
        opacity: 0%;
        transform: translateY(-100%) scaleY(0.7);
    }
    100% {
        opacity: 100%;
        transform: translateY(-1) scaleY(1);
    }
}
