:root {
    --color-primary: #641AE6;
    --color-primary-focus: #5014B8;
    --color-primary-content: #FFFFFF;

    --color-secondary: #D926A9;
    --color-secondary-focus: #AD1F87;
    --color-secondary-content: #FFFFFF;

    --color-accent: #1FB2A6;
    --color-accent-focus: #198F85;
    --color-accent-content: #FFFFFF;

    --color-neutral: #191D24;
    --color-neutral-focus: #2A303C;
    --color-neutral-content: #2A303C;

    --color-base-100: #2A303C;
    --color-base-200: #242933;
    --color-base-300: #1F242D;
    --color-base-content: #C7D2D8;

    --color-info: #3ABFF8;
    --color-info-content: #002B3D;

    --color-success: #36D399;
    --color-success-content: #2A303C;

    --color-warning: #FBBD23;
    --color-warning-content: #382800;

    --color-error: #F87272;
    --color-error-content: #21181E;

    --color-gray-50: #F8FAFC;
    --color-gray-100: #F3F4F6;
    --color-gray-200: #E2E8F0;
    --color-gray-300: #CBD5E1;
    --color-gray-400: #94A3B8;
    --color-gray-500: #64748B;

    --box-shadow-1: 0 3px 5px rgba(0,0,0, 0.3);
    --box-shadow-2: 1px 4px 6px rgba(0,0,0, 0.5);

}
