//use base
@use '_base';

//use theme partial
//@use '_theme';

//use animation partial
@use '_animation';

//components
@use '_components';

//header content
@use '_header';

//theme
:root {
    --color-primary: #641AE6;
    --color-primary-focus: #5014B8;
    --color-primary-content: #FFFFFF;

    --color-secondary: #D926A9;
    --color-secondary-focus: #AD1F87;
    --color-secondary-content: #FFFFFF;

    --color-accent: #1FB2A6;
    --color-accent-focus: #198F85;
    --color-accent-content: #FFFFFF;

    --color-neutral: #191D24;
    --color-neutral-focus: #2A303C;
    --color-neutral-content: #2A303C;

    --color-base-100: #2A303C;
    --color-base-200: #242933;
    --color-base-300: #1F242D;
    --color-base-content: #C7D2D8;

    --color-info: #3ABFF8;
    --color-info-content: #002B3D;

    --color-success: #36D399;
    --color-success-content: #2A303C;

    --color-warning: #FBBD23;
    --color-warning-content: #382800;

    --color-error: #F87272;
    --color-error-content: #21181E;

    --color-gray-50: #F8FAFC;
    --color-gray-100: #F3F4F6;
    --color-gray-200: #E2E8F0;
    --color-gray-300: #CBD5E1;
    --color-gray-400: #94A3B8;
    --color-gray-500: #64748B;

    --box-shadow-1: 0 3px 5px rgba(0,0,0, 0.3);
}

//section animation on active
.active {
    display: block !important;
    animation: scaleTopBottom 0.5s ease-in;
}

//main-content
section {
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.section {
    transform: translateY(-100%) scale(0);
    transition: all 0.4s ease-in-out;
    color: var(--color-base-content);
}
.sec1 {
    display: none;
    transform: translateY(0) scale(1);
}
.sec2 {
    display: none;
    transform: translateY(0) scale(1);
}
.sec3 {
    display: none;
    transform: translateY(0) scale(1);
}
.sec4 {
    display: none;
    transform: translateY(0) scale(1);
}
.sec5 {
    display: none;
    transform: translateY(0) scale(1);
}
//controlls
.controlls {
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    //active controll
    .active-btn {
        background-color: var(--color-primary) !important;
        transition: all 0.4s ease-in-out;
        span {
            color: var(--color-primary-content) !important;
        }
    }
    //control
    .control {
        padding: 0.5rem;
        cursor: pointer;
        width: 32px;
        height: 32px;
        background-color: var(--color-base-100);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: .7rem 0;
        box-shadow: var(--box-shadow-1);
        //span
        span {
            font-size: 1.2rem;
            pointer-events: none;
            color: var(--color-base-content);
            cursor: pointer;
        }
    }
}

/******** about *********/

//about-title
.about-title-container {
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 3rem;
    .about-title {
        position: relative;
        text-transform: uppercase;
        font-size: 3rem; font-weight: 700;
        span { color: var(--color-primary); }
        .bg-text {
            z-index: -1;
            position: absolute;
            top: 50%; left: 50%;
            color: var(--color-base-100) !important;
            transition: all 0.3s ease-in-out;
            transform: translate(-50%, -50%);
            font-weight: 800; font-size: 6.3rem;
        }
    }
}//end about-title

//about container
.about-container {
    max-width: 1024px; 
    margin: 0 auto; 
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2rem;
    //left about
    .left-about { 
        text-align: end;
        grid-column: span 2; 

        h4 { font-size: 2rem; margin-bottom: 1rem; }

        p { font-size: 1.1rem; line-height: 1.5rem; }

        .left-about-btn-container {
            margin-top: 1.60rem;
        }
    }//end left about

    //right about
    .right-about {
        grid-column: span 3;
        .right-about-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1rem;
            .right-about-item {
                grid-column: span 1;
                border: 1px solid rgba(#fdfdfd, 0.3);
                border-radius: 0.32rem;
                box-shadow: 1px 2px 15px rgba(0,0,0, 0.16);
                transition: all 0.3s ease-in-out;
                &:hover {
                    cursor: default;
                    transform: translateY(-5px);
                    border: 1px solid rgba(#fdfdfd, 0.7);
                    box-shadow: 1px 4px 15px rgba(0,0,0, 0.32);
                    transition: all 0.3s ease-in-out;
                }
                .right-about-text {
                    padding: 1.5rem;
                    display: flex;
                    flex-direction: column;
                    .large-text {
                        font-size: 3rem;
                        font-weight: 700;
                        color: var(--color-primary);
                    }
                    .small-text {
                        padding-left: 3rem;
                        font-size: 1rem;
                        font-weight: 400;
                        letter-spacing: 2px;
                        text-transform: uppercase;
                        position: relative;
                        &::before {
                            content: '';
                            position: absolute;
                            top: 5px; left: 0;
                            width: 2rem; height: 2px;
                            background-color: rgba(#fdfdfd, 0.2);
                        }
                    }
                }
            }
        }
    }
}//about container

.main-container {
    max-width: 1024px; 
    margin: 0 auto;
    margin-top: 3rem;
}

.main-title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0.7rem;
    text-transform: uppercase;
}

.about-stats {
    .progress-bars {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        .progress-bar {
            display: flex;
            flex-direction: column;
            .progress-title {
                font-size: 1rem;
                text-transform: uppercase;
                font-weight: 500;
            }
            .progress-container {
                display: flex;
                align-items: center;
                .progress-text {
                    color: var(--color-base-100);
                }
                .progress {
                    width: 100%;
                    height: 0.45rem;
                    margin-left: 1.32rem;
                    position: relative;
                    background-color: var(--color-base-100);
                    span {
                        position: absolute;
                        top: 0; left: 0;
                        height: 100%;
                        //width: 60%;
                        background-color: var(--color-accent);
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
        }
    }
}

/******** Timeline *********/

.timeline {

    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;

    .timeline-item {

        position: relative;
        padding-left: 3rem;
        border-left: 1px solid var(--color-base-100);

        .tl-icon {
            position: absolute;
            top: 0;
            left: 0;
            background-color: var(--color-primary);
            border-radius: 50%;
            padding: 0.5rem;
            transform: translateX(-50%);
            span {
                align-self: center;
                align-items: center;
                font-size: 1.3rem;
            }
        }
        .tl-duration {
            padding: 0.2rem 0.6rem;
            background-color: var(--color-base-100);
            border-radius: 15px;
            display: inline-flex;
            font-size: 0.8rem;
            text-transform: uppercase;
            font-weight: 500;
        }
        h5 {
            font-size: 1.32rem;
            padding: 1rem 0;
            font-weight: 600;
            text-transform: uppercase;
            span {
                color: var(--color-gray-400);
                font-weight: 500;
                font-size: 1.2rem;
            }
        }
        .description {
            color: var(--color-gray-400);
        }
    }

}




