:root {
  --color-primary: #641AE6;
  --color-primary-focus: #5014B8;
  --color-primary-content: #FFFFFF;
  --color-secondary: #D926A9;
  --color-secondary-focus: #AD1F87;
  --color-secondary-content: #FFFFFF;
  --color-accent: #1FB2A6;
  --color-accent-focus: #198F85;
  --color-accent-content: #FFFFFF;
  --color-neutral: #191D24;
  --color-neutral-focus: #2A303C;
  --color-neutral-content: #2A303C;
  --color-base-100: #2A303C;
  --color-base-200: #242933;
  --color-base-300: #1F242D;
  --color-base-content: #C7D2D8;
  --color-info: #3ABFF8;
  --color-info-content: #002B3D;
  --color-success: #36D399;
  --color-success-content: #2A303C;
  --color-warning: #FBBD23;
  --color-warning-content: #382800;
  --color-error: #F87272;
  --color-error-content: #21181E;
  --box-shadow-1: 0 3px 5px rgba(0,0,0, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

body {
  color: var(--color-base-content);
  background-color: var(--color-base-300);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.1rem;
  transition: all 0.4 ease-in-out;
}

.ml-3px {
  margin-left: 3px;
}

.ml-3px {
  margin-right: 3px;
}

.flex-col {
  display: flex !important;
  flex-direction: column;
}

.items-center {
  align-items: center !important;
}

.active {
  display: block !important;
  animation: scaleTopBottom 1s ease-in-out;
}

.fixed {
  position: fixed !important;
}

.relative {
  position: relative !important;
}

.absolute {
  position: absolute !important;
}

.btn {
  display: inline-flex;
  align-self: center;
}

.btn-sm {
  padding: 3px 6px;
}

.btn-md {
  padding: 4px 9px;
}

.rounded {
  border-radius: 6px;
}

.rounded-sm {
  border-radius: 9px;
}

.rounded-md {
  border-radius: 12px;
}

.rounded-full {
  border-radius: 50%;
}

.bg-primary {
  background-color: var(--color-primary);
}

@keyframes scaleTopBottom {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}
header {
  height: 100vh;
  overflow: hidden;
  color: var(--color-base-content);
}

.header-content {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3em;
}
.header-content .left-header {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.header-content .left-header .h-shape {
  transition: all 0.4s ease-in-out;
  position: absolute;
  background: url(/src/images/avatar-bg.jpg) center/cover no-repeat;
  width: 100%;
  height: 100%;
  opacity: 50%;
  filter: grayscale(50%) blur(5px);
}
.header-content .left-header .avatar-container {
  position: absolute;
  transform: translateX(-50%);
  top: 10%;
  left: 50%;
  z-index: 10 !important;
}
.header-content .left-header .avatar-container .avartar {
  padding: 4px;
  width: 128px;
  height: 128px;
  align-self: center;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin-bottom: 1rem;
  box-shadow: var(--box-shadow-1);
  background-color: var(--color-base-content);
}
.header-content .right-header .header-author {
  font-size: 1.1rem;
}

section {
  height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.section {
  transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out;
  color: var(--color-base-content);
}

.sec1 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec2 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec3 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec4 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec5 {
  display: none;
  transform: translateY(0) scale(1);
}

.controlls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}
.controlls .active-btn {
  background-color: var(--color-primary) !important;
  transition: all 0.4s ease-in-out;
}
.controlls .active-btn span {
  color: var(--color-primary-content) !important;
}
.controlls .control {
  padding: 0.5rem;
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-color: var(--color-base-100);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.7rem 0;
  box-shadow: var(--box-shadow-1);
}
.controlls .control span {
  font-size: 1.2rem;
  pointer-events: none;
  color: var(--color-base-content);
  cursor: pointer;
}

/*# sourceMappingURL=styles.css.map */
